<launch>

<!--  <arg name="gui" default="False"/>-->

<!--  <include file="$(find omni4wd_driver)/launch/description.launch">-->
<!--   <arg name="gui" value="$(arg gui)" />-->
<!--  </include>-->


  <!--if we want to use "rosparam list" in teminator,we must add output="screen"-->
  <node pkg="tcp_driver" type="tcp_driver_node" name="tcp_driver_node" output="screen" clear_params="true">

<!--    <param name="serial_port" value="/dev/ttyUSB0"/>-->
   <!--Add a rule file(40-omni4wd.rules)-->
<!--    <param name="max_vx" value="0.73"/>-->
<!--    <param name="max_vy" value="0.73"/>-->
<!--    <param name="max_vw" value="0.41"/>-->
    <param name="max_vx" value="0.6"/>
    <param name="max_vy" value="0.5"/>
    <param name="max_vw" value="0.35"/>
    <param name="odom_reset" value="false"/>
	<param name="align_first" value="false"/>
    <param name="odom_scale_x" value="1.236"/>
    <param name="odom_scale_y" value="1.2"/>
    <param name="odom_scale_yaw" value="1.245"/>
   
<!--    <remap from="/omni4wd_driver_node/cmd_vel" to="/cmd_vel"/>-->
<!--    <remap from="/omni4wd_driver_node/odom" to="/odom"/>-->
  </node>

  <node pkg="qr_nav" type="qr_nav_node" name="qr_nav_node" output="screen" clear_params="true">
<!--    <node pkg="qr_nav" type="square_qr_nav_node" name="square_qr_nav_node" output="screen" clear_params="true">-->

<!--    <param name="serial_port" value="/dev/ttyUSB0"/>-->
   <!--Add a rule file(40-omni4wd.rules)-->
<!--    <param name="max_vx" value="0.73"/>-->
<!--    <param name="max_vy" value="0.73"/>-->
<!--    <param name="max_vw" value="0.41"/>-->
	 <param name="navigation" value="true"/>
   
<!--    <remap from="/omni4wd_driver_node/cmd_vel" to="/cmd_vel"/>-->
<!--    <remap from="/omni4wd_driver_node/odom" to="/odom"/>-->
  </node>
</launch>
